.text-align-right {
    text-align: right;
}

.clickView {
    cursor: pointer !important;
}



#toast-container .toast {
    background-color: #007bff;
}

#toast-container .toast-success {
    background-color: #28a745;
}

#toast-container .toast-error {
    background-color: #dc3545;
}

#toast-container .toast-info {
    background-color: #17a2b8;
}

#toast-container .toast-warning {
    background-color: #ffc107;
}
