@using CourseManagementSystem.Web.Models.Common.Modals
@model ModalHeaderViewModel
<div class="modal-header">
    <h4 id="CreateOrEditModalTitle" class="modal-title">@Html.Raw(Model.Title)</h4>

    <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
        <i class="tio-clear tio-lg"></i>
    </button>
</div>