<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-white mr-2 close-button" data-dismiss="modal" aria-label="@L("Cancel")">@L("Cancel")</button>
    <button type="button" class="btn btn-primary save-button">@L("Save")</button>
</div>
