<div id="DeleteAccountSection" class="card mb-3 mb-lg-5">
    <div class="card-header">
        <h4 class="card-title">@L("DeleteYourAccount")</h4>
    </div>

    <!-- Body -->
    <div class="card-body">
        <p class="card-text">@L("DeleteYourAccountDescription")</p>
    </div>
    <!-- End Body -->
</div>
