@using CourseManagementSystem.Web.Models.Grades
@using CourseManagementSystem.Web.Models.Common.Modals
@model GradeViewModel


@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ViewGrade")))

<div class="modal-body">
    <div class="row form-group">
        <label for="Grade_Name" class="col-sm-3 col-form-label input-label">@L("GradeName")</label>

        <div class="col-sm-9">
            <div class="js-form-message input-group input-group-sm-down-break">
                <input type="text" class="form-control" name="name" id="Grade_Name"
                       value="@Model.Grade.Name"
                       readonly>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithClose.cshtml")
</div>